.sips_container {
    background-color: #fbfbfb;
    padding: 24px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 1px 1px rgb(0 22 36 / 8%), 0 1px 3px rgb(0 22 36 / 16%); 
    width: 652px;
    position: relative;
    height: auto;
    border-radius: 8px;
}

.page_title {
    font-size: 22.4px;
    color: #000000;
    font-weight: bold;
    background-color: #fbfbfb;
    border-bottom: 1px solid #e5e5e5;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}