.top_rated_page_container {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
}

.top_rated_container {
  /* padding-left: 24px; */
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 1px 1px rgb(0 22 36 / 8%), 0 1px 3px rgb(0 22 36 / 16%);
  width: 652px;
  position: relative;
  height: auto;
  border-radius: 8px;
  /* padding-bottom: 10px; */
}
