.sips_container {
    background-color: white;
    padding: 24px;
    padding-left: 0px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 1px 1px rgb(0 22 36 / 8%), 0 1px 3px rgb(0 22 36 / 16%);
    width: 652px;
    position: relative;
    height: auto;
    border-radius: 8px;
}

.page_title {
    font-size: 22.4px;
    color: #000000;
    font-weight: bold;
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    margin-left: 10px;
}

.sip {
    background: transparent;
    border-bottom: 1px solid #e5e5e5;
    border-top: none;
    border-right: none;
    border-left: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 25px;
}
.user_icon {
    margin-left: 12px;
}
.user_icon img {
    height: 52px;
    width: 52px;
    margin-left: -10px;
}


.user_input_container {
    font-size: 18px;
}

.text {
    color: #000000;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.changing_text {
    color: #8a4500;
    margin: 0 5px;
    text-decoration: none;
}

.changing_text_name {
    text-decoration: none;
    color: #8a4500;
    margin-right: 4px;
}

.changing_text:hover,
.changing_text_name:hover {
    color: #ce9700;
}

.review_container {
    width: 450px;
    margin-left: 10px;
}

.inner_container {
    border: rgb(0 22 36 / 8%) solid 1px;
    border-radius: 5px;

}
.review_text {
    font-size: 19.2px;
    color: #000000;
    margin: 10px;

}

.review_middle_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.coffee_rating_display_sip {
    width: auto;
    font-size: 1em;
    height: 60px;
    display: flex;
    align-self: center;
    justify-content: flex-start;
    margin-left: 10px;
}
.review_stars {
    height: auto;
    width: 100%;
}

.type {
    font-size: 15px;
    color: black;
    margin: 10px;
    display: flex;
    align-self: center;
    margin-right: 20px;
}

.icon {
    color: #ffbb00;
    margin-right: 5px;
    align-self: center;
}

.review_bottom_container {
    display: flex;
    flex-direction: row;
    margin: 5px;
    align-items: center;
    height: 40px;
}

.review_date {
    font-size: 12.8px;
    color: #999999;
}

.open_sip_details {
    font-size: 12.8px;
    color: #8a4500;
    margin: 0 10px;
}

.review_bottom_container button {
    border: none;
    background-color: white;
}

.review_bottom_container button:hover {
    color: #ce9700;
}

.sip_logo_container img {
    height: 42px;
    width: 42px;
    object-fit: cover;
}

.sip_logo {
    max-height: 100%;
    max-width: 100%;
    margin: 12px;
}

.sip_comment_like_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sip_like_button,
.sip_comment_button button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    width: 215px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    padding: 10px;
    background-color: #a7a7a7;
    border-radius: 4px;
}

.sip_like_button:hover,
.sip_comment_button button:hover,
.comment_button button:hover {
    background-color: rgb(82, 82, 82);
}

.fa-comment-alt,
.fa-heart,
.fa-heart {
    margin: 0 4px;
}

.sip-comment-box textarea {
    font-family: "Roboto", sans-serif;
    border: rgb(0 22 36 / 8%) solid 1px;
    padding: 8px;
    border: thin solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 430px;
    resize: none;
    margin: 10px 0;
}

::placeholder {
    color:rgb(212, 212, 212);
    opacity: 1;
}

.comment_button {
    display: flex;
    justify-content: flex-end;
}

.comment_button button {
    color: white;
    width: 100px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    padding: 10px;
    background-color: #a7a7a7;
    border-radius: 4px;
}

.comment-container {
    background-color: #f8f7f7;
    padding: 10px;
}

.sip_comment_responses_container {
    background-color: #f8f7f7;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
}

.sip_comment_response_pic img {
    height: 30px;
}

.sip_comment_response_name {
    margin: 6px;
    color: #8a4500;
}

.sip_comment_response {
    font-weight: 200;
    color: rgb(80, 80, 80);
}
