.shop_details_page_container {

}

.shop_details_page_container_top {

}

.individual_shop_container {
    margin: auto;
    width: 652px;
    height: auto;
    border-radius: 8px;
}

.shop_details_page_container_bottom {
    
}