
.demo_user_login {
    background-color: #3b5998;
    width: 300px;
    height: 46px;
    margin: 0px 22px;
    border-radius: 4px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;

}

.demo_text_container {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

.demo_text_small {
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin: 0px 5px 0px 5px;
}

.demo_text_large {
    color: white;
    font-size: 27px;
    font-weight: bold;
    margin: 0px 5px 0px 5px;
}

.circle_OR {
     color: rgba(0, 0, 0, 0.75);
    border-radius: 100px;
    border: #e5e5e5 3px solid;
    height: 36px;
    width: 36px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 166px;
}

.demo_user_login_text {
    color: #8a4500;
    font-size: 14.4px;
    background: none;
    border: none;

}

.signup_link_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #8a4500;
    text-decoration: none;
    font-size: 19.2px;
    margin-top: 15px;
    font-weight: 500;
    border-top: 1px solid #e5e5e5;
    padding: 10px;
}

.signup_link_text {
    color: #666666;
    margin: 4px;
}

.signup_page_link {
    text-decoration: none;
    color: #8a4500;
}

.login-errors,
.recaptcha-errors {
    color: red;
}
