.login_form_container {
    background-image: url(../../site-images/icedcoffee-background.jpeg);
    background-attachment: local;
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;

}

.login_form_white_background {
    background-color: white;
    width: 400px;
    height: 600px;
    border-radius: 8px;
    margin: auto;
    box-shadow: 0 1px 1px rgb(0 22 36 / 8%), 0 1px 3px rgb(0 22 36 / 16%);

}

.login_form {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.site_title {
    font-size: 60px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 46px;
    color: rgba(0, 0, 0, 0.75)
}

.saying_container {
    display: flex;
    flex-direction: row;
    margin: 0px 46px 20px;
}

.site_saying {
    font-size: 13px;
    color: #a3a3a3;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 5px 0px 5px;
}

.demo_user_login {
    background-color: #3b5998;
    width: 300px;
    height: 46px;
    margin: 0px 22px;
    border-radius: 4px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;

}

.demo_text_container {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

.demo_text_small {
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin: 0px 5px 0px 5px;
}

.demo_text_large {
    color: white;
    font-size: 27px;
    font-weight: bold;
    margin: 0px 5px 0px 5px;
}

.circle_OR {
    color: #e5e5e5;
    border-radius: 100px;
    border: #e5e5e5 3px solid;
    height: 36px;
    width: 36px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 166px;
}

.email_container {
    width: 300px;
    height: 34.44px;
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2.5px;
}

.user_icon {
    color: #ccc;
}

.email_input {
    width: 250px;
    height: 20px;
    border: none;
    border-left: #ccc 1px solid;
    margin: 2.5px;
}

.password_container {
    width: 300px;
    height: 34.44px;
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
}

.password_icon {
       color: #ccc;
}

.password_input {
    width: 250px;
    height: 20px;
    border: none;
    border-left: #ccc 1px solid;
    margin: 5px;
}

.recaptcha_container {
    width: 300px;
    height: 80px;
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-items: center;
    justify-content: space-between;
    margin: 20px 5px;
    background-color: #f4f4f4;
}
.checkbox_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

}

.checkbox_container:hover input ~ .checkmark {
    box-shadow: 0 1px 1px rgb(0 22 36 / 8%), 0 1px 3px rgb(0 22 36 / 16%);
}

.checkbox_container input:checked ~ .checkmark {
    background-color: #f4f4f4;
    border: none;
}

.checkbox_positional_container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.checkbox {
    
}
.checkmark {
    height: 25px;
    width: 25px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 2px;
    margin: 10px;

}

.checkmark:after {
    content: "";
    display: none;
    margin: 10px;
}

.checkbox_container input:checked ~ .checkmark:after {
  display: flex;
}

.checkbox_container .checkmark:after {
  position: relative;
  margin-top: -5px;
  width: 10px;
  height: 25px;
  border: solid #3cb371;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox_text {
    font-family: "Roboto",helvetica,arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-left: 5px;
}

.image_and_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    justify-content: center;
    margin-top: 5px;
}
.recaptcha_img_container img{
    height: 36px;
    width: 36px;
 
}


.recaptcha_text {
    font-size: 10px;
    margin: 2px;

}
.link_container {
}
.google_links {
    color: #555;
    font-size: 8px;
    font-weight: 400;
    margin: 2px;
    text-decoration: none;
}

.sign_in_button {
    height: 44px;
    width: 300px;
    margin: 0px auto;
    padding: 12px 0px;
    font-size: 18px;
    font-weight: 600px;
    color: #fff;
    background-color: #020202;
    border: 1px solid #545863;
    border-radius: 4px;
    margin-bottom: 15px;
}

.demo_user_login_text {
    color: #8a4500;
    font-size: 14.4px;
    background: none;
    border: none;

}

.signup_link_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #8a4500;
    text-decoration: none;
    font-size: 19.2px;
    margin-top: 15px;
    font-weight: 500;
    border-top: 1px solid #e5e5e5;
    padding: 10px;
}

.signup_link_text {
    color: #666666;
    margin: 4px;
}


