.content_container_i {
    background-color: #fff;
    width: 552px;
}

.content_container_i img {
    height: 94px;
    width: 94px;
}

.coffee_item_container_i {
    margin: 0;
    border: 0;
    padding: 0;
    margin-bottom: 32px;
    position: relative;
    font-size: 100%;
    font-size: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
}

.coffee_pic_i {
    margin: 10px;

}

.coffee_details_i {
    padding: 0 72px 16px 8px;
}

.coffee_name_i {
    font-size: 32px;
    margin-bottom: 4px;
}

.coffee_shop_i {
    color: #8a4500;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 20px;
    background: transparent;
}
.coffee_shop_i a {
    color: #8a4500;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 20px;
    background: transparent;
}


.coffee_spec_container_i {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 600px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}

.coffee_caffeine_i {
    width: 20%;
    border-right: 1px solid #e9e9e9;
    padding: 12px;
    color: #999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    height: 60px;
}

.coffee_type_i {
    width: 12%;
    border-right: 1px solid #e9e9e9;
    padding: 12px;
    color: #999;
    font-size: 1em;
    box-sizing: border-box;
    align-items: center;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.coffee_rating_display_i {
    width: 28%;
    border-right: 1px solid #e9e9e9;
    padding: 12px;
    color: #999;
    font-size: 1em;
    box-sizing: border-box;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.widget-ratings {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.coffee_rating_number_i {
    width: 20%;
    border-right: 1px solid #e9e9e9;
    padding: 12px 30px 12px 12px;
    color: #999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    height: 60px;
}

.coffee_total_ratings_i {
    width: 25%;
    padding: 10px;
    color: #999;
    font-size: 1em;
    box-sizing: border-box;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coffee_rating_display_container {
    display: flex;
    padding: 0 12px;
}
