#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  #modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 570px;
    position: relative;
    padding: 0px;
    margin: 4em;
    text-align: center;
    border-radius: 8px;
  }

  .modal-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 600px;


  }
