
.flex-container-navbar {
    display: flex;
    margin: auto;
    width: 1030px;
    justify-content: space-between;
    align-items: center;
}
.flex-container-ul {
    display: flex;
    justify-items: flex-start;
    align-items: center;
    padding: 0;
}
.yellowBar{
    height:8px;
    width:100%;
    background-color: #ffbb00;
}
.brewd-letters {
    font-size: 38px;
    font-weight: 550;
    align-items: center;

    padding: 0;
}

.link-other-page {
    color: #212121;
    font-size: 16px;
}
.navContainer {
    position: fixed;
    width: 100%;
    background-color:white;
    line-height: 50px;
    box-shadow: 0 1px 1px rgb(0 22 36 / 8%), 0 1px 3px rgb(0 22 36 / 16%);
    z-index: 100;
}

nav {
    /* justify-content: fl; */
    list-style:none;
    padding :0;
    margin:0;
}

nav ul {
    list-style:none;
    padding :0px 10px;
}

.profile-button-nav {
    justify-self: flex-end;
}

nav ul li {
    margin :5px;
    display: flex;
}

nav ul li a {
    font-size: 13px;
    text-decoration: none;
    color: black;
    /* border :1px solid red; */
    border-radius:4px;
    padding: 7px  15px;
    align-items: center;
}

.profile-search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    margin-right: 5px;
}

.search-bar-container input {
    width: 190px;
    border: none;
    font-size: 18px;
    height: 20px;
}

.search-bar-container input:disabled {
    background-color: white;
}

.search-bar-container {
    color: rgb(201, 201, 201);
}

.about-link {
    padding: 7px 15px;
    cursor: pointer;
}
