.profileImg {
    width:38px;
    height:35px;
    border-radius:50%;
    /* margin-top:25px; */
}

.menu {
    margin-top: 45px;
    position: absolute;
    z-index: 100;
    background-color:rgb(59, 59, 59);
    width:175px;
    /* display :none; */
    color:white;
    display: flex;
    flex-direction: column;
}

.menu a {
    /* padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px; */
    font-size: 18px;
    border-bottom: 1px solid black;
    color:white;
}

a {
    text-decoration:none;
    color: white;
}

.menuContainer {
    display: flex;
}

.dropdown-item {
    color: white;
    padding: 5px 10px;
    width: 175px;
}

.logout-button-nav {
    text-decoration:none;
    color: white;
    font-size: 18px;
    border: none;
    background-color: rgb(59, 59, 59);
    padding: 20px 10px;
    text-align: left;
}
